.DS_Store
node_modules

# Build
/dist/**/*
*.d.ts
*.js.map
*.ts.map
docker-compose.yaml

# Local env file
!.env
.env.local
relay-server/.env.local
storybook-app/.env.local

# Package management
node_modules
yalc.lock
.yalc/*
*/*/.yalc/*
!.yalc/.gitkeep
.nslm/
